body {
    font-family: 'Balsamiq Sans';
}
.color{
    color: grey;
    font-size: 60px;
}
#color{
    color: violet;
}
.sec1{
    display: flex;
}

.divide{
    width: 50%;
    margin-right: 5%;
   

}
.image {
   border: 19px solid;
    border-image: linear-gradient(springgreen, violet);
    border-image-slice: 3;
    padding: 1%;
   
}
#de{
    color: violet;
    font-size: 25px;
    margin-bottom: 50px;
}
#deg{
    margin-bottom: 50px;
}
.sec2{
    margin-top: 10%;
    color: rgb(121, 126, 124);
}
.anchor{
    color: grey;
    background-image: linear-gradient(springgreen ,  violet );
    text-decoration: none;
    padding: 2%;
    border-radius: 20px;
    margin-top: 500px;

}
.anchor2{
    color: grey;
    background-image: linear-gradient(springgreen ,  violet );
    text-decoration: none;
    padding: 2%;
    border-radius: 20px;
    margin-top: 5%;
}
.showoff{
    color: gray;
    text-align: center;
    margin-left: 300px;
margin-right: 300px;}
.rdwidth{
    width: 100%;

}
.size{
   width: 100%;
    
    
}
.align{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    
    
    
}
.write{
    margin-top: 200px;
    margin-right: 200px;
    margin-left: 200px;
    width: 100%;
}
#colour{

    color: hotpink;
}
#decoration{
    text-align: center;
    margin-top: 200px;
    color: ivory;
    background-color: gray;
    padding: 5%;
}